<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ogu Central Forum of Nigeria, Lasu Chapter</title>
  <link rel="stylesheet" href="./stylesheets/css/style.css">
  <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
  <link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/css/animate.css">
  <link rel="stylesheet" href="stylesheets/css/media-queries.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <link rel="stylesheet" type="text/css" href="stylesheets/css/switcher.css" media="screen" />

  <style>
    .hr-light {
      border-top: 3px solid #fff;
      width: 80px;
    }

    h1, h2, h3, h4, h5, h6{
      font-family: Lato;
    }

    @media (max-width: 991px) {
        .editted{
            display: none
        }
    }

    @media (max-width: 550px) {
        .editted{
            display: none
        }
        .already{
          font-size:14px;
        }

    }
  </style>

</head>
<body id="dateFunction">
  <header>
    <!--Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background:rgb(48, 48, 48)">
        <a class="navbar-brand font-weight-bold text-uppercase" style="font-size:12px;" href="/"><span style="font-size:18px; color: blue;">OCFN</span> Lasu Chapter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
          aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
          <ul class="navbar-nav ml-auto text-center text-uppercase font-weight-bold" style="font-size:14px;">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
              </li>
          </ul>
        </div>
      </nav>
      <!--/.Navbar -->
</header>

<section>
    <div style="height:110px;"></div>
    <div class="row mx-0">
        <div class="col-md-12 mb-5">
            <h1 class="h1-responsive text-center font-weight-bold">Welcome! Administrator</h1><hr class="w-25 black" style="border-bottom: 5px solid black;">
        </div>
<div class="col-md-8 mx-auto">
  <header>
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark black">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                  aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                  <ul class="nav navbar-nav mr-auto nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item active">
                      <a class="nav-link font-weight-bold" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                          Staff Lists
                      </a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link font-weight-bold"id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                            Student Lists
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold"id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
                            Contact Lists
                        </a>
                    </li>
                  </ul>

                </div>
              </nav>
  </header>
  <main>
              <div class="tab-content pt-2 pl-1" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <h1 class="font-weight-bold my-4 text-center">Staff Records</h1>
                        <div class="table-responsive text-nowrap mt-3">
                                <table class="table">
                                        <thead class="black-text">
                                          <tr>
                                            <th scope="col" class="font-weight-bold h5">S/N</th>
                                            <th scope="col" class="font-weight-bold h5">Full Name</th>
                                            <th scope="col" class="font-weight-bold h5">Email</th>
                                            <th scope="col" class="font-weight-bold h5">Phone Number</th>
                                            <th scope="col" class="font-weight-bold h5">Settings</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>Mark Pro</td>
                                            <td>markpro@gmail.com</td>
                                            <td>081111223332</td>
                                            <td><a href="#!"><i class="fa fa-edit mx-2 fa-1x"></i></a> <a href="#!"><i class="fa fa-trash-o mr-2 fa-1x"></i></a></td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton@yahoo.com</td>
                                            <td>01223322443</td>
                                            <td><a href="#!"><i class="fa fa-edit mx-2 fa-1x"></i></a> <a href=""><i class="fa fa-trash-o mr-2 fa-1x"></i></a></td>
                                          </tr>
                                        </tbody>
                                      </table>
                              </div>
                </div>

                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <h1 class="font-weight-bold my-4 text-center">Student Records</h1>
                        <div class="table-responsive text-nowrap mt-3">
                                <table class="table">
                                        <thead class="black-text">
                                                <tr>
                                                <th scope="col" class="font-weight-bold h5">S/N</th>
                                                <th scope="col" class="font-weight-bold h5">Full Name</th>
                                                <th scope="col" class="font-weight-bold h5">Email</th>
                                                <th scope="col" class="font-weight-bold h5">Phone Number</th>
                                                <th scope="col" class="font-weight-bold h5">Settings</th>
                                                </tr>
                                        </thead>
                                            <tbody>
                                                <tr>
                                                <th scope="row">1</th>
                                                <td>Mark Pro</td>
                                                <td>markpro@gmail.com</td>
                                                <td>081111223332</td>
                                                <td><a href="#!"><i class="fa fa-edit mx-2 fa-1x"></i></a> <a href="#!"><i class="fa fa-trash-o mr-2 fa-1x"></i></a></td>
                                                </tr>
                                                <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton@yahoo.com</td>
                                                <td>01223322443</td>
                                                <td><a href="#!"><i class="fa fa-edit mx-2 fa-1x"></i></a> <a href=""><i class="fa fa-trash-o mr-2 fa-1x"></i></a></td>
                                                </tr>
                                        </tbody>
                                      </table>
                              </div>
                </div>

                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <h1 class="font-weight-bold my-4 text-center">Contact Records</h1>
                        <div class="table-responsive text-nowrap mt-3">
                                <table class="table">
                                        <thead class="black-text">
                                                <tr>
                                                <th scope="col" class="font-weight-bold h5">S/N</th>
                                                <th scope="col" class="font-weight-bold h5">Full Name</th>
                                                <th scope="col" class="font-weight-bold h5">Email</th>
                                                <th scope="col" class="font-weight-bold h5">Phone Number</th>
                                                <th scope="col" class="font-weight-bold h5">Messages</th>
                                                <th scope="col" class="font-weight-bold h5">Settings</th>
                                                </tr>
                                        </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Mark Pro</td>
                                                    <td>markpro@gmail.com</td>
                                                    <td>081111223332</td>
                                                    <td><textarea name="" id="" cols="30" rows="2" style="font-size:10px;">I love this website </textarea></td>
                                                    <td><a href="#!"><i class="fa fa-edit mx-2 fa-1x"></i></a> <a href="#!"><i class="fa fa-trash-o mr-2 fa-1x"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Mark Pro</td>
                                                    <td>markpro@gmail.com</td>
                                                    <td>081111223332</td>
                                                    <td><textarea name="" id="" cols="30" rows="2" style="font-size:10px;">I love this website </textarea></td>
                                                    <td><a href="#!"><i class="fa fa-edit mx-2 fa-1x"></i></a> <a href="#!"><i class="fa fa-trash-o mr-2 fa-1x"></i></a></td>
                                                </tr>

                                        </tbody>
                                      </table>
                              </div>
                </div>
              </div>
  </main>
</div>
    </div>
    <div style="height:50px;"></div>
</section>

<footer>


  <section class="black">
    <div class="row mx-0">
      <div class="col-md-12">
          <p class="white-text font-weight-bold my-2" style="font-size:12px;">Copyright &copy <span id="year"></span>, All Right Reserved</p>
      </div>
    </div>
  </section>
</footer>


</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

 <script src="/stylesheets/js/jquery-3.3.1.min.js"></script>
 <script type="text/javascript" src="/stylesheets/js/popper.min.js"></script>
 <script type="text/javascript" src="/stylesheets/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="/stylesheets/js/mdb.min.js"></script>
 <script type="text/javascript" src="/stylesheets/js/wow.min.js"></script>

 <!-- start-smoth-scrolling -->
<script src="/stylesheets/js/move-top.js"></script>

 <!-- <script src="/stylesheets/js/jquery-scrolltofixed-min.js"></script> -->
 <!-- <script src="/stylesheets/js/jquery.matchHeight-min.js"></script> -->

 <script src="/stylesheets/js/scripts.js"></script>


<script>
   jQuery(document).ready(function ($) {
     $(".scrolled").click(function (event) {
       event.preventDefault();
       $('html,body').animate({
         scrollTop: $(this.hash).offset().top
       }, 900);
     });
   });
</script>
 <script>
     new WOW().init();
 </script>

<!-- here stars scrolling icon -->
<script>
   $(document).ready(function () {

     var defaults = {
       containerID: 'toTop', // fading element id
       containerHoverID: 'toTopHover', // fading element hover id
       scrollSpeed: 1200,
       easingType: 'linear'
     };


     $().UItoTop({
       easingType: 'easeOutQuart'
     });

   });
   </script>
   <!-- //here ends scrolling icon -->

   <script>
       $('.navicon').on('click', function (e) {
         e.preventDefault();
         $(this).toggleClass('navicon--active');
         $('.toggle').toggleClass('toggle--active');
       });
     </script>



<script>
   $(".goDown").hover(function () {
       $(this).toggleClass("animated tada");
     });
</script>
</html>